{% extends 'base_public.html' %}

{% block content %}
    
    <form action="/login" method="post">
        <table align="center">
            <td>
                <tr>
                    <label for="username">CPF:</label>
                    <input type="text" name="username" /><br>
                </tr>
            </td>
            <td>
                <tr>
                    <label for="password">Senha:</label>
                    <input type="password" name="password" /><br>
                </tr>
            </td>
            <td>
                <tr>
                    <button type="submit">Acessar</button>
                </tr>
            </td>
        
        
    </form>
{% endblock %}